 body {
     margin: 0px;
     padding: 0px;
 }

 .gradiend {
     background: linear-gradient(135deg, rgba(112, 73, 186, 0.6785938262939453), rgba(233, 80, 149, 0.3910938262939453))
 }

 .btn {
     padding: 10px 20px;
     border-radius: 25px;
     color: white;
     text-decoration: none;
     -webkit-box-shadow: 5px 5px 5px 2px rgba(255, 217, 237, 0.43);
     box-shadow: 5px 5px 5px -1px rgba(255, 217, 237, 0.43);
 }

 .container {
     margin-top: 50px;
     width: 1000px;
     /* margin-left: auto;
     margin-right: auto; */
     margin: 50px auto 0;
 }

 .left-bar {
     width: 200px;
     float: left;
 }

 .content {
     width: 800px;
     float: left;
 }

 .card {
     width: 20%;
     float: left;
     padding: 5%;
     margin-right: 3%;
     background-color: #b8b0b0;
     border-radius: 10px;
 }

 .clear {
     clear: both;
 }



 .box {
     width: 300px;
     height: 300px;
     padding: 10px;
     margin-right: 10px;
     float: left;

 }

 .bg-red {
     background-color: red;
 }

 .bg-green {
     background-color: green;
 }

 .bg-yellow {
     background-color: yellow;
 }



 /************************* Layout **************************/

 /* class -> .text.red {} */
 /* id -> #id-bilgisi {} */



 /* css selectors */

 /* 
 

ul>li:first-child {

    color: green;
}
li:last-child {
   color: aqua;
}


li:nth-child(2) {
    color: red;
}
li:nth-child(even) {
    color: blue;
}

*/

 .color-blue.fw-normal {
     color: blue;
     font-weight: normal;
 }


 li:nth-child(3n+1) {
     color: red;
 }


 h1,
 h2,
 h3,
 h4,
 h5,
 h6 {
     color: black;
 }

 h1 {
     font-size: 30px;
 }

 p {
     font-size: 20px;
 }

 #first-article {
     font-size: 40px;
 }

 .text-red {
     color: red;
 }

 .fs-14 {
     font-size: 14px;
 }

 .fs-20 {
     font-size: 20px;
 }

 .fs-30 {
     font-size: 30px;
 }